ul {
    list-style: none; /* Remove default bullets */
}

ul > li {padding: 10px 25px} /* Stretching li elements a little so it looks prettier */

.arrow-bullets > li {
    position: relative;
}

.arrow-bullets > li:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #00fa9a;
    top: 12px;
    left: 0;
}