ul {
    list-style: none; /* Remove default bullets */
}

ul > li {padding: 10px 25px} /* Stretching li elements a little so it looks prettier */

.different-bullets > li {
    position: relative;
}

.different-bullets > li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f669";
    font-size: 18px;
    position: absolute;
    top: 12px;
    left: 0;
}

.different-bullets > li.important-icon:before {
    color: #ff0000;
}

.different-bullets > li.different-icon:before {
    content: "\f05a";
}

#bColor1:before {
    color: #ffb6c1;
}

#bColor2:before {
    color: #ff69b4;
}

#bColor3:before {
    color: #ff1493;
}