ul {
    list-style: none; /* Remove default bullets */
}

ul > li {padding: 10px 25px} /* Stretching li elements a little so it looks prettier */

.icon-bullets > li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1c9";
    position: relative;
    left: -9px;
}