ul {
    list-style: none; /* Remove default bullets */
}

ul > li {padding: 10px 25px} /* Stretching li elements a little so it looks prettier */

/* Uncomment to see how image is shown if inserted as content */
/*
.image-bullets > li:before {
    content: url(images/yellowBtn.png);
}
*/

.image-bullets > li {
    position: relative;
}

.image-bullets > li:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(images/yellowBtn.png);
    background-size: contain;
    top: 12px;
    left: 0;
}