ul {
    list-style: none; /* Remove default bullets */
}

.square-bullets > li {
    position: relative;
}

ul > li {padding: 10px 25px}

.square-bullets > li:before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #d050ff;
    position: absolute;
    top: 12px;
    left: 0;
}